.home-container {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .update-section {
    margin-top: 20px;
    padding: 10px;
  }
  
  h3 {
    color: #333;
  }
  
  .input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .update-button {
    width: 80%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .update-button:hover {
    background-color: #45a049;
  }
  
  .loading-text {
    color: #888;
  }
  .logout-button {
  background-color: red;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
